html, body {
    margin: o;
}
body {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(190, 190, 190);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    
    width: 15%;
    background-color: rgb(184, 192, 202);
    padding: 10px 20px 0px;
}
.header {
    
    background-color: rgb(83, 83, 83);
    min-height: 150px;
}
.content {
    background-color: rgb(233, 224, 224);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(184, 192, 202);
    min-height: 1px;
   
}