html, body {
    margin: o;
}
body {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(141, 122, 122);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    
    width: 20%;
    background-color: rgb(214, 216, 206);
    padding: 100px 20px 100px;
}
.header {
    width: 310;
    background-color: rgb(214, 216, 206);
    min-height: 100px;
}
.content {
    background-color: rgb(255, 255, 255);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(255, 255, 255);
    min-height: 1px;
   
}